body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.galaxy-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.galaxy-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at 50%, transparent 1%, black 70%);
}

.galaxy-image {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background: url(http://cdn.spacetelescope.org/archives/images/screen/heic0602a.jpg) center no-repeat, transparent;
  background-size: contain;
  opacity: 0.6;
  color: white;
  animation: rotateGalaxy 240s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .galaxy-gradient {
    background: radial-gradient(circle at 50%, transparent 1%, black 99%);
  }
  .galaxy-image {
    width: 200vw;
    height: 200vw;
  }
}

@keyframes rotateGalaxy {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
